#configuration-overlay{
    text-align:center;
}

#configuration-overlay h2{
    margin:1.5rem 0;
}

.form-control{
    margin:.5rem 0;
}

.form-control label{
    display:block;
    margin-bottom:.5rem;
    font-weight:bold;
}

.form-control input{
    font:inherit;
    border: 2px solid rgb(204, 204, 204);
    width:12rem;
    border-radius:3px;
    padding:.3rem .5rem;
}

.error label{
    color:rgb(136, 2, 2);
}

.error input{
    border-color: rgb(136, 2, 2);
    background-color:rgb(220, 157, 157);
    color: rgb(136, 2, 2);
}

#game-configuration{
    width:90%;
    max-width:40rem;
    margin:3rem auto;
    text-align:center;
}

#game-configuration ol{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}

#game-configuration li{
    margin:1rem;
    padding:1rem;
    width:50%;
    background-color:rgb(243, 227, 255);
    border-radius:4px;
    box-shadow:0 2px 5px rgba(0,0,0,0.3);
}

#game-configuration h2{
    font-size:1rem;
    margin:.5rem 0;
}

#game-configuration h3{
    font-size:1.5rem;
    margin: 0.5rem 0;
    color:rgb(94, 4, 168);
}

.player-symbol{
    font-size:2rem;
    font-weight:bold;
    color:rgb(47, 4, 82);
    margin:0.5px 0;
}
#error-msg{
    color:rgb(136, 2, 2);
}